body
{
    line-height: 180%;
}

#payoff
{
    float: right;
    font-size: 200%;
    font-family: "Archivo Black", Arial,Helvetica,sans-serif;
    -webkit-text-stroke: 1px rgba(0,0,0,0.1);
    position: absolute; right: 0; bottom: 10px;
}

@media all and (max-width: 940px) {
    #payoff {position: relative;}
}

#sections-wrapper
{
    background-color: black;
    color: white;
}

#nav
{
    font-size: 140%;
    background-color: black;
    font-weight: bold;
}

#nav a:hover, #nav li.selected a {
    background-color: transparent;
    color: #B3B3B3;
}

#breadcrumbs-wrapper
{
    background-color: #CCCCCC;
}

#portal-breadcrumbs
{
    font-size: 120%;
    padding-left: 0.7em;
}

#portal-breadcrumbs a:hover
{
    text-decoration: underline;
}

.documentActions
{
    font-size: 130%;
    float: right;
    height: 46px;
    margin:0.5em 0 0 1.5em;
}

.documentActions ul
{
    height: 46px;
}

.documentActions ul li i
{
    margin-top: 3px;
}

.icon-white {color: white;}

div.searchSection {
    display: none;
}

div#portal-searchbox
{
    height: 46px;
    clear: none;
    margin: 0 20px 0 0;
}

#portal-searchbox #searchGadget
{
    padding: 4px;
    margin: 7px;
}

.LSBox {
    height: 46px;
    width: 150px;
    font-size: 143%;
}

div.LSBox input#searchGadget 
{
     border-radius: 10px
}

.portlet
{
    border-bottom: 1px solid black;
}

dl.portlet dt
{
    border-bottom: 1px solid black;
    color: #FFFFFF;
    background-color: #D40E16;
}

dl.portlet dt a,
dl.portlet dt a:hover,
dl.portlet dt a:link
{
    color: #FFFFFF;
    background-color: #D40E16;
}

.portlet dd
{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

dl.portlet {
    font-size: 90%;
}

dl.portlet dd.portletFooter
{
    background-color: #000000;
    color: #FFFFFF;
}

dl.portlet dd.portletFooter a,
dl.portlet dd.portletFooter a:hover,
dl.portlet dd.portletFooter a:link
{
    border-bottom: none;
    color: #FFFFFF;
}

dl.portlet li:last-child
{
    margin-bottom: 0;
}

.portletRelatedItems .relatedDiscription
{
    margin-top: 0.5em;
}

.portletRelatedItems img
{
    float: right;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

#content .documentDescription
{
	font: bold 14px Arial,Helvetica,sans-serif;
	color: black;
	margin-bottom: 1em;
}

#content h1.documentFirstHeading
{
    font-size: 246.2%;
    line-height: 94%;
	font-weight: normal;
	letter-spacing: 0;
	font-family: "Archivo Black", Arial,Helvetica,sans-serif;
	-webkit-text-stroke: 1px rgba(212, 14, 22, 0.1);
	color: #D40E16;
}

#content h1
{
    font-size: 170%;
    line-height: 91%;
    font-weight: normal;
    letter-spacing: 0;
    font-family: "Archivo Black", Arial,Helvetica,sans-serif;
    -webkit-text-stroke: 1px rgba(212, 14, 22, 0.1);
    color: #D40E16;
}

#content h2
{
    font-size: 124%;
    line-height: 100%;
    font-weight: normal;
    letter-spacing: 0;
    font-family: "Archivo Black", Arial,Helvetica,sans-serif;
    -webkit-text-stroke: 1px rgba(212, 14, 22, 0.05);
    color: #D40E16;
}

#content h3
{
    font-size: 108%;
    line-height: 93%;
    font-weight: normal;
    letter-spacing: 0;
    font-family: "Archivo Black", Arial,Helvetica,sans-serif;
    -webkit-text-stroke: 1px rgba(212, 14, 22, 0.05);
    color: #D40E16;
}

#content h1 a:link, #content h1 a:visited
{
	font-weight: normal;
	letter-spacing: 0;
	font-family: "Archivo Black", Arial,Helvetica,sans-serif;
	-webkit-text-stroke: 1px rgba(212, 14, 22, 0.05);
	color: #D40E16;
	border-bottom: none;
}

#category {
    color: #666666;
    font-size: 75%;
    margin-bottom: 1em;
    text-align: right;
}
#category a.link-category, span.selectedTag {
    background: none;
    border-radius:0;
    color: black;
    padding: 0.25em 0em;
    border-bottom: 0.1em solid #D40E16;
}
#category a.link-category:hover {
    background: none;
    border-color:none;
    color: #666 !important;
}
#category .separator {
    display: none;
}
#content h2 > a:link {font-weight:normal;}
#content h3 > a:link {font-weight:normal;}
#content a:link, dl.portlet a:link {
	border-bottom: 0.1em solid #D40E16;
	font-weight: bold;
	color: black;
}
#content a:visited, dl.portlet a:visited {
	border-bottom: 0.1em solid #D40E16;
	font-weight: bold;
	color: black;
}
#content a:hover, dl.portlet a:hover {
    color: #666 !important;
}

#content div.newsImageContainer p.discreet {
    background-color: rgba(40, 40, 40, 0.7);
    color: White;
    font-weight: bold;
    margin: 0;
    padding: 0.4em;
    position: relative;
    top: -2em;
    width: 290px;
}

#content .tile
{
    border: 1px solid black;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

#content .tile img
{
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

#e67cd60a9dbf43eba1369758d9c813e5
{
    border: none;
}

#fg-base-edit
{
    padding-right: 0.5em;
}

#fg-base-edit input[type=text]
{
    display: block;
    max-width: 100%;
    padding-rigth: 0.5 em;
} 

#relatedItemBox dt
{
    font-size: 150%;
    color: #D40E16;
    margin-bottom: 0.5em;
}

#relatedItemBox dd a
{
    color: #000000 !important;
}

#doormat-wrapper
{
    background-color: black;
    font-size: 130%;
}

#doormat #c-doormat-sitemap dl
{
    color: #FFFFFF;
    width: 16%;
    float: left;
    min-width: 200px;
}

